:root{
    /*fonts*/
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;

    /*primary colors*/
    --primary: hsl(356, 100%, 66%);
    --primary-light: hsl(355, 100%, 74%);
    --primary-dark: hsl(208, 49%, 24%);
    /*neutral colors*/
    --white: hsl(0, 0%, 100%);
    --gray: hsl(240, 2%, 79%);
    --dark-gray: hsl(207, 13%, 34%);
    --dark-blue: hsl(240, 10%, 16%);
    /*gradient colors*/
    --gradient-light: hsl(13, 100%, 72%);
    --gradient-dark: hsl(353, 100%, 62%);
    /*background gradient colors*/
    --gradient-bg-verydark: hsl(237, 17%, 21%);
    --gradient-bg-dark: hsl(237, 23%, 32%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 1px "hack" */
    width: 100vw;
    overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--overpass);
    color: var(--white);
}
h1 {
    font-size: 4.7rem;
    margin: 70px 0 0 0;
}
.links__title,
li a,
.button {
    font-family: var(--ubuntu);
    font-weight: 600;
    font-size: 1.2rem;
}

/* golbals */
a {
    text-decoration: none;
}
p {
    color: var(--white);
}
h2 {
    color: var(--primary-dark);
    text-align: center;
}
h3 {
    color: var(--primary-dark);
}
.container {
    padding: 4% 15%;
}
/* buttons */
.button__div {
    width: 110px;
    background-color: var(--white);
    padding: 1.2rem 1rem;
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 3rem;
    text-align: center;
}
/* .button__div a {
    font-weight: 600;
    color: var(--primary);
} */
.button--no-bg {
    background-color: transparent;
}
/* .button--no-bg a {
    color: #ffffffaa;
}
.button--no-bg a:hover {
    color: var(--white);
} */
.button--white-bg {
    background-color: var(--white);
    border: none;
    color: var(--primary);
    font-weight: 600;
}
.button--white-bg:hover {
    color: var(--white);
    background-color: var(--primary-light);
}
.button--outline {
    border: 1px solid var(--white);
    background-color: transparent;
}
.button--outline:hover {
    color: var(--primary);
    background-color: var(--white);
}
/* .button--outline a {
    color: var(--white);
} */
.button__div:hover {
    cursor: pointer;
}
/* menu */
.icon-direction {
    rotate: 180deg;
}

/* header */
header {
    background: -465px / 284rem no-repeat url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(90deg, var(--gradient-light), var(--gradient-dark));
    border-radius: 0 0 0 100px;
}
header p,
.button--no-bg {
    color: #ffffffaa;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sections {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}
.logo {
    margin-right: 55px;
    display: flex;
    align-items: center;
}
.logo img {
    height: 3rem;
}
.links {
    display: flex;
}
.links__title {
    margin-right: 5px;
    user-select: none;
}
.menu-icon {
    margin-right: 1rem;
    user-select: none;

}
.links__main {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.links__main p:hover {
    color: var(--white);
    text-decoration: underline;
}
.links > div:hover {
    cursor: pointer;
}
.join-us {
    display: flex;
}
.header__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 7rem 0;
}
.header__main__text p{
    margin: 10px 0 36px 0;
}
.header__main__buttons {
    display: flex;
    gap: 10px;
}
/* menu */
.links__main {
    position: relative;
}
.links__list {
    background-color: var(--white);
    width: calc(100% + 30px);
    padding: 15px;
    list-style: none;
    position: absolute;
    top: 30px;
    left: -12px;
    border-radius: 10%;
    box-shadow: 1px 2px 11px 2px var(--dark-gray);
}
.links__list a {
    color: var(--dark-gray);
    font-weight: 500;
}
.links__list a:hover {
    color: var(--dark-blue);
    font-weight: 700;
}
.links__list {
    visibility: hidden;
}
.list-enable {
    visibility: visible;
}

/* main  */
/* section 1 and 3*/
.container-big {
    margin-bottom: 185px;
}
.container-big h2 {
    margin-top: 75px;
    font-size: 3rem;
}
.container-big__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 65px;
    gap: 30px;
}
.p-text{
    color: var(--dark-gray);
    font-size: 1.4rem;
    line-height: 1.6;
}
.container-big__text h3 {
    font-size: 2.2rem;
}
.container-big__text h3:last-of-type {
    margin-top: 65px;
}
.container-big__img {
    grid-column: 2 / 3;
    position: relative;
}
.container-big__img img {
    width: 820px;
    position: absolute;
    left: 50px;
    top: -153px;
    display: inherit;
}
.section-3 {
    margin-top: 85px;
}
.img-laptop-div {
    grid-column: 1 / 2;
}
.container-big__img img.img-laptop {
    left: -442px;
    top: -10px;
}
/* section 2 */
.container-small {
    background: -95px -395px/800px no-repeat url(./images/bg-pattern-circles.svg),
    linear-gradient(90deg, var(--gradient-bg-verydark), var(--gradient-bg-dark));
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 100px 0 100px;
}
.container-small h2 {
    color: var(--white);
    font-size: 3rem;
    text-align: left;
}
.container-small p {
    color: var(--white);
}
.container-small__img {
    position: relative;
}
.container-small__img img{
    position: absolute;
    left: -40px;
    top: -105px;
    width: 415px;
}
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--dark-blue);
    color: var(--gray);
    padding: 5% 25% 5% 15%;
    border-radius: 0 100px 0 0;
}
footer p {
    color: var(--white);
    font-family: var(--ubuntu);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 600;
}
footer a {
    color: var(--gray);
}
footer a:hover {
    text-decoration: underline;
}
footer ul {
    padding-left: 0;
}
footer ul li {
    list-style: none;
    margin-bottom: 10px;
}
.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
}